<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Bot Demo</string>
		<key>icon</key>
		<string>robot</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Live Demo</string>
		<key>icon</key>
		<string>agent</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Restore Demo</string>
		<key>icon</key>
		<string>restore</string>
	</dict>
	<dict>
		<key>title</key>
		<string>History Demo</string>
		<key>icon</key>
		<string>history</string>
	</dict>
</array>
</plist>
