<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Bot</string>
		<key>icon</key>
		<string>robot</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Live</string>
		<key>icon</key>
		<string>agent</string>
	</dict>
	<dict>
		<key>title</key>
		<string>History</string>
		<key>icon</key>
		<string>history</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Restore</string>
		<key>icon</key>
		<string>restore</string>
	</dict>
	<dict>
		<key>title</key>
		<string>File Upload</string>
		<key>icon</key>
		<string>upload</string>
	</dict>
</array>
</plist>
