<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.sdk.samples">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
            android:name="androidx.multidex.MultiDexApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:requestLegacyExternalStorage="true"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"> <!--needed to enable loading http urls on API 29+ -->


        <activity android:name="com.sdk.samples.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sdk.samples.topics.Autocomplete">
            <intent-filter>
                <action android:name="com.sdk.sample.action.AUTOCOMPLETE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.BotChat"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.BOT_CHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
                android:name="com.sdk.samples.topics.BotVocToVocChat"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.VOICE_TO_VOICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.BoldChat"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.BOLD_CHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.BoldChatAsync"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.BOLD_ASYNC_CHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.CustomFileUpload"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.BOLD_CHAT_UPLOAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.BoldUploadNoUI"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.BOLD_CHAT_UPLOAD_NO_UI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.CustomedWelcomeBotChat"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.WELCOME_BOT_CHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.BoldChatAvailability"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.BOLD_CHAT_AVAILABILITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.PrechatExtraData"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.PRE_CHAT_EXTRA_DATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.ChatRestore"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.RESTORE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.EntitiesProviderChat"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.ENTITIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.Handover"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.HANDOVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.CustomUIChat"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.CUSTOM_UI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.CustomizedUI"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.CUSTOMIZED_UI_IMPLEMENTATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.sdk.samples.topics.BotChatHistory"
                android:configChanges="orientation|screenSize|locale|layoutDirection">
            <intent-filter>
                <action android:name="com.sdk.sample.action.HISTORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.sdk.samples.topics.AsyncChatContinuity"
                android:configChanges="orientation|screenSize|locale|layoutDirection"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.sdk.sample.action.ASYNC_CONTINUITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.sdk.samples.topics.BoldCustomChatForm"
                android:configChanges="orientation|screenSize|locale|layoutDirection"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.sdk.sample.action.CUSTOM_FORM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.sdk.samples.topics.ContextSupportChat"
                android:configChanges="orientation|screenSize|locale|layoutDirection"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.sdk.sample.action.CONTEXT_SUPPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.common.topicsbase.FullDemoSample"
                android:configChanges="orientation|screenSize|locale|layoutDirection"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.sdk.sample.action.FULL_DEMO_SAMPLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>